body {
	margin : 0;
	display : flex;
	justify-content : center;
	align-items : center;
	min-height : 100vh;
}


h1 {
	font-family : Verdana;
	-webkit-box-reflect : below -14px linear-gradient(transparent , rgba(0,0,0,0.3));
	margin : 0;
	padding : 0;
}